*{
  padding: 0;
  margin: 0;
}
:root{
  --red_btn: #c83c0d;
}
body{
  font-family: 'RedHatText', sans-serif;
  font-family: 'RedHatText', sans-serif;
}
h1 h2 h3 h4 h5{
  font-weight:700 ;
}
p{
  font-weight: 400;
}
.menu-section{
  padding: 80px;
  height: 150%;
  display: flex;
}
.menu-item{
  max-height: 360px;
}
#menu-container{
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  column-gap: 24px;
  row-gap: 24px;
  width: 800px;
  height: 1000px;
}
.card{
  position: relative;
}
.card .desserts-img{
  transition: border-color 0.1s ease;
  z-index: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.category{
  margin-top: 28px;
  height: 14px;
  color: #6f6f6f;
}
.price{
  height: 10px;
}
.name{
  font-size: 16px;
}
.red-border{
  border: 3px solid #c83c0d;
}
.add-to-cart{
  z-index: 1;
  font-weight: 200;
  border: 1px solid #cdcdcd;
  position: absolute;
  background: #fff;
}
.add-to-cart:hover{
  color: rgb(190, 0, 0);
  background: #ffcccc;
}
.quantity-control{
  opacity: 0;
  z-index: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background: var(--red_btn);
  transition: opacity 0.1s ease;
}
.quantity-control.show{
  opacity: 1;
  z-index: 1;
}
.add-to-cart, .quantity-control{
  border-radius: 50px;
  position: absolute;
  min-width: 154px;
  height: 42px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -8%;
}
.quantity-control button{
  background: transparent;
}
.quantity{
  width: 32px;
  height: 24px;
}
.decrease,
.increase{
  margin-top: 1px;
  font-size: 12px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid white;
}
.decrease:hover,
.increase:hover{
  background: #d4bc86;
}
.decrease svg,
.increase svg{
  margin-bottom: 2.6px;
}
#cart {
  background: #fff; 
  padding: 20px;
  width: 400px;
  height: 320px;
  border-radius: 12px;
}
.carbon-neutral-delivery{
  padding: 12px 16px;
  border-radius: 5px;
  background: #fbf8f4;
}
.order{
  padding-top: 14px;
  border-bottom: 1px solid #e2e2e2;
  height: 80px;
  position: relative;
}
.del{
  top: 35%;
  right: 0%;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid #caafa6;
}
.del:hover{
  cursor: pointer;
  background: #cdcdcd;
  border: 0.1em solid #a2938e;
}
.del-svg{
  padding: 0.05em;
  margin: 0 0 12px 1.45px;
}
.details{
  margin-top: -16px;
  width: 170px;
}
.details-quantity{
  font-weight: 500;
  color: red;
}
.details-price, 
.details-total{
  padding-right: -12px;
  color: #9f9f9f;
}
.list-of-order{
  max-height: 400px;
  overflow: hidden;
}
.list-of-order.scrollable{
  overflow-y: auto;
}
.list-of-order.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.list-of-order .order{
  padding-right: 15px;
}
/* shopping cart */
.order-confirm-icon svg{
  margin: 1em 0;
  width: 48px;
}
.order-confirm{
  max-height: 88px;
}
.order-confirm-list{
  background: #faf8f4;
}
ul li{
  list-style-type: none;
}
.confirmed-details_mini{
  height: 20px;
}
.confirm-order_btn{
  margin-top: -12px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 100px;
  color: white;
  background: var(--red_btn);
}
.total{
  font-size: 22px;
}
.order-confirm-popup{
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, height 0.3s ease;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 1em 1.2em;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  min-width: 460px;
  min-height: 360px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.order-confirm-popup.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup-content {
  border-radius: 10px;
  width: 500px;
  background: white;
}
.order-confirm{
  height: 80px;
  background: #fbf8f5;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 2fr 1fr;
}
.order-confirm .name{
  width: 120%;
  font-size: 14px;
}
.order-confirm .total{
  font-size: 1.1em;
  margin-top: -24px;
}
.confirmed-details{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.start-new-order{
  font-size: 1em;
  padding: 12px 8px;
  color: white;
  border: none;
  border-radius: 50px;
  width: 100%;
  background: var(--red_btn);
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.order-confirm-list.scrollable{
  max-height: 400px;
  overflow-y: auto;
}
#screen-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
/* Tablet */
@media (min-width: 850px) and (max-width: 1240px) {
  .add-to-cart, .quantity-control{
    min-width: 80%;
    height: 38px;
  }
  .add-to-cart{
    padding-top: 2px;
    font-size: 0.8em;
  }
  .name{
    font-size: 14px;
  }
  #menu-container{
    column-gap: 16px;
    row-gap: 0px;
  }
  .quantity-control{
    justify-content: space-evenly;
    padding-top: 8px;
  }
}
/* Mobile */
@media (max-width: 375px){
  .menu-item{
    padding-bottom: 5em;
    scale: 1.4;
  }
  .menu-section{
    display: flex;
    flex-flow: row wrap;
  }
  .desserts-text{
    padding-top: 2em;
    padding-left: 0.8em;
    font-size: 2.8em;
  }
  #cart{
    scale: 1.6;
    margin-top: 2360px;
  }
  .order{
    height: 70px;
  }
  .order .name{
    font-size: 0.7em !important;
  }
  #menu-container{
    display: flex;
    flex-flow: row wrap;
  }
  .list-of-order .name{
    font-size: 0.8em;
  }
  .confirm-order_btn{
    height: 40px;
    font-size: 0.7em;
  }
  .details{
    width: 85%;
  }
  .details p{
    font-size: 0.8em;
  }
  .del{
    height: 1em;
    width: 1em;
  }
  .del-svg{
    height: 9px;
    width: 9px;
    margin: -2px 0 14px 1.45px;
  }
  .carbon-neutral-delivery{
    padding: 8px 8px;
    border-radius: 5px;
    background: #fbf8f4;
  }
  .carbon-icon{
    height: 18px;
    width: 17px;
  }
  .carbon-neutral-delivery p{
    margin-top: 4px;
    font-size: 0.5em !important;
  }
 .order-total{
    font-size: 0.7em;
  }
  .total{
    font-size: 1em;
  }
  .order-confirm-list{
    overflow-y: hidden;
  }
  .order-confirm-list.scrollable{
    max-height: calc(90px * 3 - 28px);
  }
  .order-confirm-popup{
    position: fixed;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    min-width: 375px;
    max-width: 375px;
    min-height: 100vh;
    border-radius: 20px;
    transition: top 0.3s ease-out;
  }
  .order-confirm-popup.show{
    top: 62%;
    overflow-y: scroll;
  }
  
}